/* 
style.css
Programme par : Eric Gosselin
Derniere modification : 2021-11-27
*/

.bannerBG {
  width: 100%; 
  background-color: lightgrey;
  text-align: center;
}

.blackBG {
  background-color: black;
  color: white;
}

.paddingTopBottom5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.paddingTopBottom3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.paddingTopBottom2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.paddingTop5 {
  padding-top: 5rem;
}

.paddingTop3 {
  padding-top: 3rem;
}

.paddingTop1 {
  padding-top: 1rem;
}

.paddingBottom5 {
  padding-bottom: 5rem;
}

.paddingBottom2 {
  padding-bottom: 2rem;
}

.paddingLeft2 {
  padding-left: 2rem;
}


#imgBorder {
  border: 5px solid darkgray;
  border-radius: 50%;
  width: 15%;
}

.imgProject {
  border: 5px solid darkgray;
  width: 100%;
}

/* --- Section Font-Size --- */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.3rem;
}

.texte {
  font-size: 1.5rem;
}

label {
  font-size: 1.2rem;
}

#textBox {
  background-color: rgba(220, 220, 220, 0.6);
  padding: 40px;
}




#imgLogo {
  width: 12rem;
}

/* --- Section Classe --- */

.center {
  text-align: center;
}

.fab,
.fas {
  color: white;
}

.colorBlack {
  color: black;
}
